.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  margin: 1rem;
  padding: 0.5rem 2rem;
  border: 2px solid $color-violet;
  border-radius: 5px;
}
.no-exist {
  background-color: #ccc;
  * {
    cursor: default;
  }
}
.online {
  background-color: $color-green;
}
.logo {
  border-radius: 7px;
}
.text-div {
  width: 80%;
  padding-left: 1rem;
}
.canClick {
  cursor: pointer;
}
.chan-title {
  font-weight: bold;
}
.btn-delete {
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: darkred;
  :hover {
    border: 1px solid gray;
    border-radius: 5px;
  }
}
